#dobra7_8 {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: #0E141C;
}

#image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    /* top: -15rem; */
    left: 300px;
}

#txt7 {
    position: absolute;
    z-index: 2;
    width: 40%;
    top: 40%;
    left: 6%;
    font-size: 1.2rem;
    color: #fff;
}

.knowServTech {
    cursor: pointer;
    color: #fff;
    background: #0E141C;
    padding: 10px;
    display: block;
    width: 350px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 4px 11px rgba(106, 106, 106, 0.25);
    padding: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 30px;
}

#modal7 {
    background: rgba(243, 243, 243, 0.2);
    position: fixed;
    top: 50%;
    left: 100%;
    opacity: 1;
    display: none;
    z-index: 100;
    width: 100vw;
    height: 3vh;

    backdrop-filter: blur(10px);
}

.modal-content7 {
    position: absolute;
    background: #265CFD;
    height: 15rem;
    width: 22rem;
    border-radius: 20px 10px 30px 0px;
    top: 30%;
    left: 35%;

    opacity: 0;
}

.btnClose7 {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border: none;
    background: #F3F3F3;
    border-radius: 4px;
    cursor: pointer;

    z-index: 1;
}

.modal-header7 {
    opacity: 0;
}

.modal-body7 {
    display: flex;
    padding: 0px 30px;
    align-items: center;
    height: 100%;

    opacity: 0;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation i {
    cursor: pointer;
    border-radius: 50%;
    padding: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation i.fa-chevron-up {
    border: 1px solid #fff;
}

.navigation i.fa-chevron-down {
    background: #fff;
    color: #000;
    margin-top: 5px;
}

.textModal7 {
    padding-left: 20px;
}

.modalText7 {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

.counter7 {
    position: absolute;
    z-index: 20;
    bottom: 1rem;
    left: 2rem;
}

@media (max-width: 430px) {
    #txt7 {
        width: 90%;
        font-size: 1.2rem;
        position: relative;
        top: 10rem;
    }

    #image {
        position: absolute;
        left: -1rem;
        top: 7%;
        transform: scale(0.8);
    }

    .knowServTech {
        width: 250px;
        font-size: 1.0rem;

        position: absolute;
        top: 27rem;
    }

    .modal-content7 {
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 999900;
    }

    .btnClose7 {
        top: 20%;
        left: 10%;
    }

    .textModal7 {
        display: flex;
        align-items: center;
        height: 155px;
    }

    .modal-body7 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        height: 300px;
        top: 22%;
        position: absolute;
    }

    .navigation {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 96px;
        margin-top: 20px;
    }

    .navigation i.fa-chevron-down {
        margin-top: 0;
        margin-left: 10px;
    }

    .counter7 {
        position: fixed;
        display: flex;
        width: 35%;
        left: 62%;
        top: 50%;
        justify-content: flex-end;
        padding-right: 40px;
    }
}