/* style logo  */
#headerEl {
    position: fixed;
    width: 100%;
    top: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 6%;
}

.logo img {
    width: 150px;
}

/* style btn contato  */
.btn-contato {
    background: #F3F3F3;
    padding: 10px;
    margin-right: 6%;
    box-shadow: 0.996094px 3.98438px 10.957px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #141D27;
}

.social-media {
    position: fixed;
    bottom: 4%;
    right: 6%;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F3F3F3;
    padding: 10px;
    box-shadow: 0.996094px 3.98438px 10.957px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 2;
}


.btnDark {
    background: #0E141C !important;
    color: #FFF;
    box-shadow: 1px 3px 14px -6px #FFF;
}

.btnWhite {
    background: #F3F3F3;
    box-shadow: 0.996094px 3.98438px 10.957px rgba(0, 0, 0, 0.25);
    color: #141D27;
}

.blackCont, .blackCont a {
    background: #0E141C !important;
    color: #FFF !important;
}

.whiteCont {
    background: #F3F3F3 !important;
    color: #0E141C !important;
}

/* navigation bar  */
.container {
    position: relative;
}

#nav-button {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 60px;
    height: 40px;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.close-button {
    cursor: pointer;
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f1f1f1;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
    left: 0;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    font-size: 1.8rem;
}

.sidebar li {
    margin-bottom: 30px;
}

.sidebar ul a {
    font-weight: 400;
    color: #141D27;
}