#txt4 {
    position: absolute;
    top: 10%;
    width: 50%;
    font-size: 1.2rem;
}

@media (max-width: 428px){
    #txt4 {
        position: relative;
        width: 90%;
        font-size: 1.2rem;
        top: -29rem;
    }

    #myimg4 {
        width: 245rem;
        left: -13rem !important;
    }
}