#dobra1 {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh !important;
}

#dobra1 .image {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dobra1 .content {
    position: absolute;
    left: 25%;
    z-index: 1;
    color: #000;
    margin: 30vh auto;
    width: 50%;
    text-align: center;
}

#dobra1 .content .text {
    font-size: 1.5rem;
}

.social-media a {
    color: #141D27;
}

/* style social media */
#dobra1 .social-media {
    position: absolute;
    bottom: 5%;
    right: 6%;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F3F3F3;
    padding: 10px;
    box-shadow: 0.996094px 3.98438px 10.957px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.social-media .fa-instagram {
    font-size: 35px;
}

.social-media .fa-linkedin-in {
    border: 2px solid #141D27;
    padding: 5px;
    border-radius: 4px;
}

/* scroll down button  */
.scroll-down {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: animateScroll 2s infinite;
}

.mouse {
    width: 24px;
    height: 40px;
    border-radius: 14px;
    border: 2px solid #000;
    position: relative;
    top: 80px;
}

.mouse::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
}

@keyframes animateScroll {
    0% {
        transform: translate(-50%, -30px);
    }

    50% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, -30px);
    }
}

@media (max-width: 430px) {
    #dobra1 .content {
        width: 100vw;
        height: 100vh;
        left: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #dobra1 .content .text {
        font-size: 1.0rem;
    }

    .scroll-down {
        top: -0rem;
    }

    .social-media {
        bottom: 8%;
    }

    .mouse {
        top: 10px;
        width: 20px;
        height: 30px;
    }

    .mouse::before {
        bottom: 17px;
    }

    #dobra1 .social-media {
        top: 45rem;
        height: fit-content;
    }
}