/* dobra 2 */
#dobra2 {
    height: 100vh;
    width: 100vw;
}

#dobra2 .content2 {
    position: absolute;
    z-index: 1;
    left: 6%;
    top: 55%;
}

canvas {
    height: 100vh;
    width: 100vw;
    position: relative;
    left: 8%;
    top: 7rem;
}

#txt2 {
    width: 39%;
    font-size: 1.5rem;
}

#myimg2 {
    position: relative;
    right: -13rem;
}

@media (max-width: 880px){
    #txt2 {
        width: 90%;
        position: relative;
        top: -180px;
        font-size: 1.7rem;
    }

    #dobra2 .image img {
        height: 80%;
        position: relative;
        top: 100px;
        left: -140px;
    }
}

@media (max-width: 720px){
    #txt2 {
        top: -160px;
        font-size: 1.4rem;
    }

    #dobra2 .image img {
        height: 70%;
        top: 100px;
        left: -160px;
    }
}

@media (max-width: 550px){
    #dobra2 .image img {
        height: 70%;
        top: 150px;
        left: -145px;
        transform: scale(0.9);
    }
}

@media (max-width: 430px){
    .image {
        width: 100%;
        left: -8rem;
        top: 3rem;
        transform: scale(0.75);
        position: absolute;
    }

    #dobra2 .content2 {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }

    #txt2 {
        position: absolute;
        top: 11rem;
        left: 7%;
        width: 90%;
        font-size: 1.2rem;
    }
}